{% extends "base.html" %}
{% block title %}エンチャントリスト{% endblock %}

{% block content %}


<h2>TODO</h2>
<ul>
  <li>デザインをかわいくする</li>
  <li>装備を指定して検索すると、(ダスティン等)専用鎧のESが表示されないのを直す</li>
  <li>装備を指定して検索すると、「材料が鉄の武器と防具 のみ」のESが表示されないのを直す</li>
  <li>パーマリンクつける</li>
  <li>絶対に重複しない効果は重複させない(原理のクリティカルヒットマスタータイトルとメイズ平原遺跡を見つけたタイトルが両方発動しないようにする等)(いつか)</li>
  <li>険しい しっぽ帽子などをいれる(いつか)</li>
</ul>


<h2>使用しているもの</h2>
<ul>
  <li><a href="http://code.google.com/intl/ja/appengine/">Google App Engine</a></li>
  <li><a href="http://code.google.com/p/app-engine-patch/">app-engine-patch</a></li>
  <li><a href="http://www.djangoproject.com/">Django</a></li>
  <li><a href="http://jquery.com/">jQuery</a></li>
  <li><a href="http://www.sprymedia.co.uk/article/DataTables">DataTables</a></li>
  <li><a href="http://www.crummy.com/software/BeautifulSoup/">BeautifulSoup</a></li>
  <li><a href="http://www.blueprintcss.org/">Blueprint</a>
  <li><a href="http://sourceforge.net/projects/json-py/">json-py</a>
</ul>

<h2>その他</h2>
<p>
  Firefox3.5, Chrome3, IE8, Safari4 ではそれっぽく動いてるみたいです。。
</p>

<p>
  データは <a href="http://mabinogi.wikiwiki.jp/">Mabinogi Wiki*</a> から転載しています。
</p>

<p>
  連絡先:
  <a href="http://twitter.com/rinunu">Twitter</a> or りぬぬ(ルエリ)
</p>

{% endblock %}
