{% extends "base.html" %}
{% block title %}エンチャントリスト{% endblock %}

{% block content %}



<h2>メモ</h2>

ブログにこんなの張り付けられるようにしたす。。
<div class="enchant-frame" style="width:250px; background-color:black; color:white; border-width:0; text-align:center; font-size:12px;">
  <div style="border-width:0">エンチャントスクロール</div>
  <div style="border-width:0">Enchant Scroll</div>
  
  <div style="border-width:0; color:#ffdab9">装備品に魔法の効果を与えるスクロール。エンチャントに失敗すると、アイテムの耐久度が低下することもある。</div>
  
  <div style="border-width:0">耐久度 100%</div>
  
  <div style="border-width:0">ユニオン (prefix=ランク 5)</div>
  <div style="border-width:0">テスト</div>
  <div style="border-width:0">テスト</div>
  <div style="border-width:0">テスト</div>
  <div style="border-width:0">テスト</div>
</div>

{% endblock %}
