  <div class="character ui-widget">
    <div class="ui-widget-header">
      キャラクター情報
    </div>

    <div class="ui-widget-content">
      <table class="profile">
        <tr>
  	  <th>名前</th>
  	  <td class="name">りぬぬ</td>
  	  <th>種族</th>
  	  <td class="race">人間 女性</td>
  	  <th>Lv</th>
  	  <td class="lv">50</td>
        </tr>
      </table>
    
      <table class="basic1">
        <tr>
  	  <th>生命力</th>
  	  <td>80(70)</td>
        </tr>
        <tr>
  	  <th class="mana_max">マナ</th>
  	  <td>80(70)</td>
        </tr>
        <tr>
  	  <th class="stamina_max">スタミナ</th>
  	  <td>80(70)</td>
        </tr>
      </table>

      <table class="basic2">
  	<tr>
  	  <th class="">Str</th>
  	  <td>80(50)</td>
  	</tr>
  	<tr>
  	  <th class="">Int</th>
  	  <td>80(60)</td>
	</tr>
  	<tr>
  	  <th class="">Dex</th>
  	  <td>80(50)</td>
  	</tr>
  	<tr>
  	  <th class="">Will</th>
  	  <td>80(50)</td>
  	</tr>
  	<tr>
  	  <th class="">Luck</th>
  	  <td>80(50)</td>
  	</tr>
      </table>
      
      <table class="attack">
  	<tr>
  	  <th class="damage_max">ダメージ</th>
  	  <td>80~100(60~80)</td>
  	</tr>
  	<tr>
  	  <th class="critical">クリティカル</th>
  	  <td>80(70)</td>
  	</tr>
      </table>
      
      <table class="defence">
  	<tr>
  	  <th class="defence">防御</th>
  	  <td>10(2)</td>
  	</tr>
  	<tr>
  	  <th class="protection">保護</th>
  	  <td>10(2)</td>
  	</tr>
      </table>

    </div>
  </div>
