<div class="equipment_view">
  <div class="tabs">
    <ul>
      <li><a href="#tabs-1">装備種別</a></li>
      <li><a href="#tabs-2">性能補正</a></li>
      <li><a href="#tabs-3">改造</a></li>
      <li><a href="#tabs-4">エンチャント</a></li>
    </ul>
    <div id="tabs-1">
      <select class="slot">
	<option>部位</option>
      </select>
      <select class="category">
	<option>カテゴリ</option>
      </select>
      <select class="equipment">
      </select>
      <div class="notice">
	現在以下の装備のみ使用できます
	<ul>
	  <li>ウィングボウ</li>
	  <li>ショートボウ</li>
	  <li>エルブンショートボウ</li>
	  <li>ハイランダーロングボウ</li>
	</ul>
      </div>
    </div>
    <div id="tabs-2">
      <div>
	<select>
	  <option>なし</option>
	  <option>ドロップ1級()</option>
	  <option>ドロップ2級()</option>
	  <option>ドロップ3級()</option>
	  <option>ドロップ4級</option>
	  <option>合成...</option>
	  <option>その他...</option>
	</select>
      </div>
      <div>
	最小攻撃力<input type="text">
	最大攻撃力<input type="text">
      </div>
      <div class="notice">
	現在装備補正は設定できません
      </div>
    </div>
    <div id="tabs-3">
      <div class="notice">
	<p>
	  改造を行なう画面です。
	</p>
	<p>
	  改造内容はそのうち日本語表示になります。
	</p>
	<p>
	  使用できる改造以外はグレーアウトします。
	  おすすめ改造式・・どうしようかな・・
	  Wiki の表形式は比較しやすいので、あれを表示しようかな
	</p>
      </div>
      <table class="upgrades selectable">
	<thead>
	  <tr>
	    <th class="ug">UG数</th>
	    <th class="name">改造</th>
	    <th class="proficiency">熟練</th>
	    <th class="effects">内容</th>
	    <th class="cost">金額</th>
	  </tr>
	</thead>
	<tbody>
	</tbody>
      </table>
    </div>
    <div id="tabs-4">
      <h3>Prefix(接頭)</h3>
      <div class="prefix">
	{% include "enchant.html" %}
      </div>
      <h3>Suffix(接尾)</h3>
      <div class="suffix">
	{% include "enchant.html" %}
      </div>

      <div class="notice">
	<p>
	  本来貼れないものも含め、すべてのエンチャントが表示されています。
	  このサイトは検索機能などは提供せず、
	  http://fruitmilk.xii.jp/enchant/search.cgi などに誘導する予定です。
	</p>
      </div>
    </div>
  </div>

  <div class="spec">
    <div class="notice">
      装備画像の表示したい。
    </div>
    <ul>
      <li>とても遅いスピード 2打の武器</li>
    </ul>
    <div class="notice">
      作成した装備の効果を性能を表示します。
    </div>
    <table class="equipment">
      <thead>
	<tr>
	  <th>名前</th>
	  <th>最大</th>
	  <th>クリ</th>
	</tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
	<tr>
	  <td>合計</td>
	  <td></td>
	  <td></td>
	</tr>
      </tfoot>
    </table>

  </div>
  <a href="">wiki</a>
</div>