  <div class="equipment_set ui-widget">
    <div class="ui-widget-header">
      クリティカル特化装備
    </div>
    <div class="ui-widget-content">
      <div class="memo">
	現在最もクリティカルが高くなる装備。
      </div>
  
      <table>
	<thead>
          <tr>
  	    <th class="slot">部位</th>
  	    <th class="name">名称</th>
	    <th class="float attack_max_ranged">最大(弓)</th>
  	    <th class="float critical_luck_will">クリ</th>
          </tr>
	</thead>
	<tbody>
	</tbody>
      </table>
    </div>
  </div>
  <!-- equipment_set -->
