{% extends "base.html" %}
{% load media %}

{% block title %}マビノギ お気に入り装備{% endblock %}

{% block js %}
{% include_media 'equipment_tmp.js' %}

<script type="text/javascript">
  $(function() {

  initialize();

  });
</script>

{% endblock %}

{% block content %}

<div class="tabs">
  <ul>
    <li><a href="#tabs_recommended">おすすめ装備セット</a></li>
    <li><a href="#tabs_equipment">装備セット編集</a></li>
    <li><a href="#tabs_character">キャラクター編集</a></li>
    <li><a href="#tabs_compare">装備セット比較</a></li>
  </ul>
  <div id="tabs_recommended">
    {% include "recommended.html" %}
  </div>
  <div id="tabs_equipment">
    {% include "character_overview.html" %}
    {% include "equipment_set.html" %}
  </div>
  <div id="tabs_character">
  </div>
</div>

{% include "enchant.html" %}
{% include "options.html" %}
{% include "inventory.html" %}
{% include "equipment_detail.html" %}

{% endblock %}

