<div class="inventory dialog" title="インベントリ">
  <table>
    <thead>
      <tr>
	<th class=""></th>
	<th class="">名称</th>
	<th class="">最大</th>
	<th class="">クリ</th>
	<th class="">変換率<a href="">?</a></th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
    <tfoot>
      <tr>
	<td></td>
	<td class="editable">新しい装備を追加</td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
    </tfoot>
  </table>
  
  <span class="buttons">
    <button>グループ化</button>
    <button>グループ化解除</button>
  </span>
  <button>削除</button>
</div>