{% extends "base.html" %}
{% block title %}Twitter BOT{% endblock %}

{% block content %}

<p>
  マビノギ関連サイトの更新情報をつぶやく非公式 Twitter BOT です。
</p>
<p>
  予告なく公開を中止する可能性がありますがご了承ください。
</p>

<table>
  <tr><th>名前</th><th>サイト</th></tr>
  <tr>
    <td><a href="http://twitter.com/mabiRssPlayerRu">mabiRssPlayerRu</a></td>
    <td><a href="http://www.mabinogi.jp/6th/community/playerBoardList.asp?sv=ru">マビノギ公式HPのプレイヤー掲示板(ルエリ)</a></td>
  </tr>
  <tr>
    <td><a href="http://twitter.com/mabiRssMijisso">mabiRssMijisso</a></td>
    <td><a href="http://jbbs.livedoor.jp/game/10417/">したらば mabinogi板 未実装スレ</a></td>
  </tr>
  <tr>
    <td><a href="http://twitter.com/mabiRssElf">mabiRssElf</a></td>
    <td><a href="http://jbbs.livedoor.jp/game/10417/">したらば mabinogi板 エルフスレ</a></td>
  </tr>
  <tr>
    <td><a href="http://twitter.com/mabiRssGiant">mabiRssGiant</a></td>
    <td><a href="http://jbbs.livedoor.jp/game/10417/">したらば mabinogi板 ジャイアントスレ</a></td>
  </tr>
  <tr>
    <td><a href="http://twitter.com/mabiRssMaho">mabiRssMaho</a></td>
    <td><a href="http://jbbs.livedoor.jp/game/10417/">したらば mabinogi板 魔法使いスレ</a></td>
  </tr>
  <tr>
    <td><a href="http://twitter.com/mabiRssSaikyo">mabiRssSaikyo</a></td>
    <td><a href="http://jbbs.livedoor.jp/game/10417/">したらば mabinogi板 最強スレ</a></td>
  </tr>
</table>

{% endblock %}
