

input.str, 
input.dex,
input.int{
    width: 4em;
}

h1{
    background: url(images/logo.png) no-repeat;
    height: 70px;
    margin: 0;
    padding: 0;
}
h1 span{
    display: none;
}

/* ---------------------------------------------------------------------- */
.app.menu{
    height: 40px;
    margin: 0;
    padding: 0 20px;
    border-bottom: none;
    background-color: #96514d; /* 小豆色 */
    color: #fff;
    font-weight: bold;

    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0px 2px 2px #333;
    overflow: hidden;
}

.app.menu li{
    font-size: 15px;
    display: block;
    padding: 10px 0;
    float: left;
    height: 40px;
    margin: 0;
}

.app.menu a{
    /* border-left: solid 1px #fff; */
    border-right: solid 1px #fff;
    padding: 0 10px;
    display: block;
    cursor: pointer;
}

/* ---------------------------------------------------------------------- */
/* Damage Table */

th.damage{
    width: 60px;
}

td.damage{
    text-align: right;
}

/* ---------------------------------------------------------------------- */
/* Conditions */

.offenses-view .buttons{
    float: right;
}

.offenses-view select.condition{
    width: 800px;
}

.offenses-view .input div{
    float: left;
}

.offenses-view select{
    display: block;
    margin: 5px;
    height: 150px;
}

.offenses-view .input a{
    font-size: 8px;
    text-decoration: underline;
}

.offenses-view .input{
    overflow: hidden;
}

/* ---------------------------------------------------------------------- */
/* defenses-view */

.defenses-view{
    overflow: hidden;
}

.defenses-view .buttons{
    float: right;
}

.defenses-view select{
    display: block;
    margin: 5px;
    height: 100px;
    min-width: 400px;
}

