/* -*- coding: utf-8 -*- */
/* Add your global CSS (i.e., code that is project-specific and not part of any app) here. */


/* ---------------------------------------------------------------------- */
/* 全体構成 */

#header {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #a6c9e2;
}


#footer {
    margin-top: 20px;
    padding-top: 5px;
    border-top: 1px solid #a6c9e2;
    clear: both;
}

/* ---------------------------------------------------------------------- */
/* 共通 */

body {
    font-size: 12px;
}

a{
    color: rgb(0,0,204);
}

.css_right { float: right; }

/* ---------------------------------------------------------------------- */
/* table */

thead th {
    cursor: pointer;
    * cursor: hand;
}

table{
    /* table-layout: fixed; */
    border-collapse: collapse;
}

td, th{
    font-size: 12px;
    border: 1px solid #a6c9e2;
}

.odd{
    background-color: white;
}

/* -*- coding: utf-8 -*- */

/* ---------------------------------------------------------------------- */

.unimplemented{
    color: red;
}

/* ---------------------------------------------------------------------- */

/* ul.weapons li{ */
/*     display: block; */
/*     float: left; */
/*     margin: 5px; */
/*     padding: 1px; */
/*     background-color: #C6E2FF; */
/* } */

/* ---------------------------------------------------------------------- */

table.enchants{
    width: 800px;
}

span.id{
    color: #d3d3d3;
}

th.root{
    width: 50px;
}

th.rank{
    width: 55px;
}

th.name{
    width: 150px;
}

th.equipment_text{
    width: 100px;
}

th.effects_text{
}

th.attack_max, th.melee_attack_max, th.ranged_attack_max, th.critical, th.life_max,
th.mana_max, th.stamina_max, th.defence, th.protection{
    width: 60px;
}

/* UP 効果 */
li.up{
    color: blue;
}

/* DOWN 効果 */
li.down{
    color: red;
}

td ul{
    margin: 0;
    padding: 0;
}

td li{
    list-style-type: none;
    display: block;
}

/* ---------------------------------------------------------------------- */
/* common */

.editable{
    cursor: pointer;
    border: solid 1px #aa8;
    background-color: #ffe;
}
.editable:hover{
    background-color: #ffa;
}

.drophover{
   background-color: #ffa;
}

.ui-draggable{
}

/**
 * 1装備を構成する要素
 */
span.element{
    margin-right: 5px;
}

/**
 * 仮想装備
 */
.virtual{
    color: #555;
    font-style: italic;
}

/* ---------------------------------------------------------------------- */
/* 装備画面 全体構成 */

.character{
    margin: 10px;
}

.equipment_set{
    margin: 10px;
    width: 600px;
}

/* ---------------------------------------------------------------------- */
/* character */

.character{
    width: 320px;
}

.character table{
    border: solid 1px black;
    margin: 3px;
}

.character table td, .character table th{
    border: none;
}

.character .basic1{
    float: left;
}

.character .basic2, .character .attack, .character .defence{
    width: 200px;
    float: right;
}

.character .basic2 th, .character .attack th, .character .defence th{
    width: 80px;
}

.character .ui-widget-content{
  overflow: hidden;
}

/* ---------------------------------------------------------------------- */
/* 性能表示用テーブル */

th.slot{
    width: 80px;
}
th.name{
    width: 200px;
}
th.float{
    width: 50px;
}

/* ---------------------------------------------------------------------- */
/* equipment_set */

.equipment_set{
}

.equipment_set .memo{
    margin: 5px;
}

.equipment_set table{
}

/* ---------------------------------------------------------------------- */
/* equipment_view - 個別装備画面 */

.equipment_view .tabs{
    float: left;
    width: 300px;
}

.equipment_view .spec{
    border: solid 1px black;
    float: left;
    width: 220px;
}

