/* -*- coding: utf-8 -*- */

/* ---------------------------------------------------------------------- */
/* 全体構成 */

*{
    padding: 0;
    margin: 0;
}

html, body {
    height:100%;
    font-size: 12px;
}

#root{
    background: url(images/B5.png) repeat;
    position: relative;
    min-height: 100%;
}

#content{
    padding-bottom: 40px;
}

#header{
    /* margin-bottom: 20px; */
    /* padding-bottom: 5px; */
    /* border-bottom: 1px solid #a6c9e2; */
    overflow: hidden;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #e9e4d4;
    /* border-top: 1px solid #716246; */
}

#footer div{
    padding: 5px;
}

.main.menu{
    float: right;
}

#switcher{
    margin: 5px;
    float: right;
}

h1{
    padding-left: 5px;
    font-size: 20px;
}

/**
 * 本文など
 */
.main {
    border: solid 1px #ccf;
    border-top: none;
    margin: 0 20px;
    padding: 20px;
    background-color: #fff;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

h2, h3{
    margin-top: 20px;
}

.ui-widget-header{
    background: #96514d; /* 小豆色 */
    color: #fff;
    border: none;
}

/* ---------------------------------------------------------------------- */
/* 共通部品 */

a{
    color: inherit;
    /* text-decoration: none; */
}

ul{
    list-style: none;
}

ol{
    padding-left: 40px;
}

/* .delete{ */
/*     text-decoration: line-through; */
/* } */

label{
    font-weight: bold;
}

.editable{
    cursor: pointer;
    border: solid 1px #aa8;
    background-color: #ffe;
}

.editable:hover{
    background-color: #ffa;
}

.drophover{
   background-color: #ffa;
}

.ui-draggable{
}

/**
 * 1装備を構成する要素
 */
span.element{
    margin-right: 5px;
}

/**
 * 仮想装備
 */
.virtual{
    color: #555;
    font-style: italic;
}

/**
 * 注意書き
 */
div.notice{
    margin: 5px;
    padding: 5px;
    background-color: #fff0f0;
    color: #f11;
}

/**
 * ガイド文
 */
div.guide{
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    color: #302833;
    border: solid 1px #dcdcdc;
}

/**
 * 1効果
 */
.li.effect{
    margin-right: 5px;
}

/**
 * プラス効果
 */
.plus{
    color: blue;
}

/**
 * マイナス効果
 */
.minus{
    color: red;
}

table.selectable tr:hover{
    background-color: #fee;
}

/* ---------------------------------------------------------------------- */
/* form 
 *
 * データの入力欄
 */

form.input{
  border: solid 1px;
  padding: 5px;
  margin: 5px;
}

select{
    min-width: 100px;
}

/* ---------------------------------------------------------------------- */
/* 一覧
 */

/* ---------------------------------------------------------------------- */
/* タブ
 */

div.tab{
    overflow: hidden;
}

/* ---------------------------------------------------------------------- */
/* table */

table{
    /* table-layout: fixed; */
    /* border-collapse: collapse; */
}

table{
}

td, th{
    border: 1px solid #f6bfbc; /* 虹色 */
    padding: 1px 5px;
}

thead{
    background-color: #f6bfbc; /* 虹色 */
}

thead{
    border: 1px solid #ccc;
}

tbody tr:nth-child(2n+1) {
}

tbody tr:nth-child(2n) {
    background: #fef4f4; /* 桜色さくらいろ */
}

/* ---------------------------------------------------------------------- */

#footer a{
    border: solid 1px #716246;
    background-color: #b88884;
    /* color: #fff; */
    text-decoration: none;
    padding: 3px;
}


