/* -*- coding: utf-8 -*- */
/* Add your global CSS (i.e., code that is project-specific and not part of any app) here. */


/* ---------------------------------------------------------------------- */
/* 全体構成 */

#header {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #a6c9e2;
}


#footer {
    margin-top: 20px;
    padding-top: 5px;
    border-top: 1px solid #a6c9e2;
    clear: both;
}

/* ---------------------------------------------------------------------- */
/* 共通 */

body {
    font-size: 12px;
}

a{
    color: rgb(0,0,204);
}

.css_right { float: right; }

/* ---------------------------------------------------------------------- */
/* table */

thead th {
    cursor: pointer;
    * cursor: hand;
}

table{
    table-layout: fixed;
    border-collapse: collapse;
}

td, th{
    font-size: 12px;
    border: 1px solid #a6c9e2;
}

.odd{
    background-color: white;
}

