{% extends "base.html" %}


{% block content %}
<script>
mabi.Track.setVar("no_report");
</script>

<a href="{% url admin.views.equipments %}">装備一覧</a>
<a href="{% url admin.views.titles %}">タイトル一覧</a>
<a href="{% url admin.views.enchants %}">エンチャント一覧</a>

<h2>何度実行してもOK</h2>
<form action="{% url admin.views.setup %}" method="post">
  {% csrf_token %}
  <input type="submit" value="初期セットアップ"/>
</form>

<form action="{% url admin.views.delete_source_caches %}" method="post">
  {% csrf_token %}
  <input type="submit" value="HTML キャッシュクリア"/>
</form>

<h2>削除</h2>
<form action="{% url admin.views.delete_all %}" method="post">
  {% csrf_token %}
  <input type="submit" value="エンチャント全て削除"/>
</form>

<form action="{% url admin.views.delete_equipments %}" method="post">
  {% csrf_token %}
  <input type="submit" value="装備を全て削除"/>
</form>

<form action="{% url admin.views.delete_titles %}" method="post">
  {% csrf_token %}
  <input type="submit" value="タイトルを全て削除"/>
</form>


<h2>ソース</h2>
<table>
  <tr>
    <th>種類</th>
    <th>名前</th>
    <th>最終処理日時</th>
    <th>ページサイズ</th>
  </tr>
  
  {% for source in sources %}
  <tr>
    <td>{{ source.type }}</a></td>
    <td><a href="{{ source.url }}">{{ source.name }}</a></td>
    <td>{{ source.date }}</td>
    <td>{{ source.size }}</td>
    <td>
      <form action="{% url admin.views.import_data source.key %}" method="post">
	{% csrf_token %}
	<input type="submit" value="取り込み"/>
      </form>
    </td>
    
  </tr>
  {% endfor %}
</table>





{% endblock %}

