<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" type="text/css" media="all" /> 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

    {% load media %}
    {% include_media 'main.css' %}

    {% block js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}

      <script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-13024907-1']);
	_gaq.push(['_trackPageview']);
	
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
      </script>

      <!-- <script type="text/javascript"> -->
      <!-- 	$(document).ready(function(){ -->
      <!-- 	$('#switcher').themeswitcher(); -->
      <!-- 	}); -->
      <!-- </script> -->

  </head>

  <body class="">

    <div id="root">
      {% block header %}
      <div id="header">
	<script type="text/javascript" src="http://jqueryui.com/themeroller/themeswitchertool/">
	</script>
	<!-- <div id="switcher"></div> -->
	<h1>
	  <span>{% block h1 %}{% endblock %}</span>
	</h1>
      </div>
      {% endblock %}
      
      <div id="content">
	{% block content %}{% endblock %}
      </div>

      <div id="footer" class="">
	<div>
	  <div>
	    <a href="/">トップページへ</a>
	    当サイト内にある『Mabinogi』に属する全てのコンテンツのデータ画像等の著作権は運営元であるNexon社及び開発元のdevcat社に帰属します。 
	  </div>

	</div>
      </div>
    </div>
    

  </body>
</html>
