<form class="ui-widget-content condition-view">
  <div>
    <label>名前
      <input type="text"></input>
    </label>
  </div>

  <div>
    <label>Int
      <input type="text" class="int"></input>
    </label>
  </div>

  <label>タイトル
    <select class="title">
      <option>その他</option>
      <option>マジックマスター</option>
      <option>ボルト魔法マスター</option>
    </select>
  </label>

  <label>武器
    <select class="weapon">
      <option>両手剣</option>
      <option>二刀流</option>
      <option>弓</option>
      <option>ライトニングワンド</option>
      <option>クリスタルライトニングワンド(111式)</option>
    </select>
  </label>

  <div>
    <label>フラグ</label>
    <span class="flags">
      <input type="checkbox" id="icebolt" />
      <label for="icebolt">アイスボルト強化</label>
      <input type="checkbox" id="firebolt" />
      <label for="firebolt">ファイアボルト強化</label>
    </span>
  </div>
</form>
