{% extends "base.html" %}
{% load media %}

{% block title %}マビノギ ダメージ計算{% endblock %}

{% block logo %}
<img>
{% endblock %}

{% block js %}
{% include_media 'damagemain.js' %}
{% include_media 'damage.css' %}

<script type="text/javascript">
  google.load('visualization', '1', {'packages':['corechart']});
  google.setOnLoadCallback(dam.initialize);
</script>

{% endblock %}

{% block content %}

<ul class="app menu">
  <li><a class="generator">データの設定</a>
  <li><a class="options">表示設定</a>
  <li><a class="chart">チャートの表示</a>
  <li><a class="help">ヘルプ</a>
</ul>

<div class="main">
  <table class="damage">
    <thead class=""></thead>
    <tbody class=""></tbody>
  </table>
  
  {% include "damage/options.html" %}
  {% include "damage/condition.html" %}
  {% include "damage/generator.html" %}
  {% include "damage/chart_view.html" %}
  {% include "damage/help.html" %}

</div>


{% endblock %}

