<div class="defenses-view">
  <div class="guide">
    <p>攻撃対象となる MOB を設定します</p>
  </div>

  <div>
    <h3>追加する MOB </h3>
    <div class="input">
      <select class="mob" multiple>
	<option value="">ガストさん</option>
	<option value="">グールさん</option>
      </select>
    </div>
  </div>
  <div class="buttons">
    <button class="add">追加</button>
  </div>

  <div>
    <h3>追加された MOB </h3>
    <div>
      <select class="defenses" multiple>
	<option value="">ガストさん</option>
	<option value="">グールさん</option>
      </select>
      <div class="buttons">
	<button class="remove">削除</button>
      </div>
    </div>
  </div>
</div>