    <div id="tabs1_gear">
      <div class="guide">
	<p>ここでは使用する防具とタイトルを設定します
      </div>

      <label>タイトル
	<select class="title">
	  <option>その他</option>
	  <option>マジックマスター</option>
	  <option>ボルト魔法マスター</option>
	</select>
      </label>

      <div>
	<label>フラグ</label>
	<span class="flags">
	  <input type="checkbox" id="icebolt" />
	  <label for="icebolt">アイスボルト強化</label>
	  <input type="checkbox" id="firebolt" />
	  <label for="firebolt">ファイアボルト強化</label>
	</span>
      </div>

      <button>追加</button>

      <div>
	<select name="" multiple>
	  <option value="">ヘボナ装備</option>
	  <option value="">猫装備</option>
	</select>
      </div>

    </div>
