<div class="generator" title="キャラクターの追加">
  <div class="guide">
    ここでは指定した設定をもとに、一度に複数のキャラクターを追加することが出来ます。
  </div>

  <form class="">
    <h3>固定値</h3>
    <div>
      生成するキャラクターの固定部の設定を行ないます。
    </div>
    <div>
      {% include "damage/condition.html" %}

    </div>

    <h3>可変値</h3>
    <div>
      生成するキャラクターの可変部の設定を行ないます。
    </div>
    
    <div class="var0">
      可変値1
      <select class="type"></select>
      <span class="detail"></span>
    </div>
    <div class="var1">
      可変値2
      <select class="type"></select>
      <span class="detail"></span>
    </div>
  </form>

</div> 
