<div class="help ui-widget" title="ヘルプ">
  <div class="">
    <h3>使い方</h3>
    <div class="notice">ここに説明を書く予定！</div>
    
    <h3>まだ出来ないこと</h3>
    <ul>
      <li>スキルはランク1の数値を使用して計算しています</li>
      <li>ダメージ補正エンチャントはまだ対応してません</li>
      <li>トリニティスタッフはまだ対応してません</li>
      <li>ヘボナセットはまだ対応してません</li>
      <li>パッシブディフェンスはまだ対応してません(式わからないです＞＜)</li>
    </ul>
    
    <h3>参考にしたサイト</h3>
    <ul>
      <li><a target="_blank" href="http://mabinogi.wikiwiki.jp/index.php?%A5%B9%A5%AD%A5%EB%2F%CB%E2%CB%A1#vc1353e4">Mabinogi Wiki* スキル/魔法</a></li>
      <li><a target="_blank" href="http://aumiya.jugem.jp/?eid=173">蒼乃銀杏～あおのぎんなん～ 各種魔法ダメージG12とG13を比較してみた。</a></li>
    </ul>
  </div>

</div> 
