<div class="help ui-widget" title="ヘルプ">
  <div class="">
    <h3>使い方</h3>
    <div class="notice">説明はブログに飛ばす予定</div>
    
    <h3>そのうちできるかもしれないこと</h3>
    <ul>
      <li>スキルのランク設定(今はALL1)</li>
      <li>作成したデータの保存</li>
      <li>組み込みパーツの作成</li>
      <li>計算式全般
	<ul>
	  <li>バランス・クリティカル率を考慮した期待値の計算</li>
	  <li>期待値だけじゃなく、最大値や最小値も計算できるように</li>
	  <li>パッシブディフェンス</li>
	</ul>
      </li>

      <li>魔法関連
	<ul>
	  <li>サンダー</li>
	  <li>ブレイズ</li>
	  <li>ヘイルストーム</li>
	  <li>ダメージ補正エンチャント</li>
	  <li>期待値への魔法バランスの反映</li>
	  <li>トリニティスタッフ</li>
	  <li>ヘボナセット</li>
	</ul>
      </li>

      <li>近接関連
	<ul>
	  <li>ウィンドミル</li>
	  <li>二刀流</li>
	</ul>
      </li>

      <li>錬金術関連
	<ul>
	  <li>ライフドレイン</li>
	  <li>ヒートバスターマスター</li>
	  <li>錬金術のバランスは独特だそうで・・</li>
	  <li>クレシダセット</li>
	</ul>
      </li>

      <li>弓関連
	<ul>
	  <li>今はなにもできません＞＜</li>
	</ul>
      </li>
    </ul>
    
  </div>

</div> 
