
<div class="options-view">
  <div class="guide">
    ここでは表の表示設定を行ないます。
  </div>

  <div class="tabs">
    <ul>
      <li><a href="#tabs_recommended">基本設定</a></li>
      <li><a href="#tabs_equipment">攻撃種別の詳細設定</a></li>
    </ul>
    <div id="tabs_recommended">
      <select multiple>
	<option>ステータス</option>
	<option>装備</option>
	<option>Mob</option>
	<option>攻撃種別</option>
      </select>

      <div>
	<button>横軸へ追加</button>
	<button>縦軸へ追加</button>
      </div>

      <div>
	<select name=""  multiple>
	  <option value="">ステータス</option>
	  <option value=""></option>
	  <option value=""></option>
	  <option value=""></option>
	  <option value=""></option>
	</select>
	<select name=""  multiple>
	  <option value="">攻撃種別</option>
	  <option value="">装備</option>
	  <option value=""></option>
	  <option value=""></option>
	  <option value=""></option>
	</select>
      </div>
    </div>

    <div id="tabs_equipment">
      <div>
	<label>スキル
	  <select name="">
	    <option value="">ファイアボルト</option>
	    <option value="">アイスボルト</option>
	    <option value="">ライトニングボルト</option>

	    <option value="">ファイアボール</option>
	    <option value="">アイススピア</option>
	    <option value="">サンダー</option>

	    <option value="todo">アイスボルト+ファイアボルト</option>
	    <option value="todo">アイスボルト+ライトニングボルト</option>
	    <option value="todo">ファイアボルト+ライトニングボルト</option>

	    <option value="todo">スマッシュ</option>
	    <option value="todo">アタック</option>
	    <option value="todo">レンジアタック</option>
	    <option value="todo">マグナムショット</option>
	  </select>
	</label>

	<label>
	  チャージ
	  <select class="option">
	    <option value="">1</option>
	    <option value="">2</option>
	    <option value="">3</option>
	    <option value="">4</option>
	    <option value="">5</option>
	  </select>
	</label>
      </div>
      <button>追加</button>

      <div>
	<select name="" multiple>
	  <option value="">ファイアボール</option>
	  <option value="">サンダー(5チャージ)</option>
	  <option value="">アイスボルト+ファイアボルト(5チャージ)</option>
	</select>
      </div>
      
    </div>
  </div>

    

    <aaa></aaa>


  
</div>