
    <div id="tabs1_weapon">
      <div class="guide">
	<p>ここでは装備を設定します
      </div>

      <label>武器
	<select class="weapon">
	  <option>両手剣</option>
	  <option>二刀流</option>
	  <option>弓</option>
	  <option>ライトニングワンド</option>
	  <option>クリスタルライトニングワンド(111式)</option>
	</select>
      </label>

      <div>
	<label>フラグ</label>
	<span class="flags">
	  <input type="checkbox" id="icebolt" />
	  <label for="icebolt">アイスボルト強化</label>
	  <input type="checkbox" id="firebolt" />
	  <label for="firebolt">ファイアボルト強化</label>
	</span>
      </div>

      <button>追加</button>

      <div>
	<select name="" multiple>
	  <option value="">追加された装備1</option>
	  <option value="">追加された装備2</option>
	</select>
      </div>

    </div>

